body
{
 
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
   
}

div
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 100;
    color: rgb(243, 243, 243);
    text-align: center;
    background-color: rgb(180, 149, 192) ;
    height: 75px;
 }

img
{

    margin-left: 300px;
    margin-right: 200px;
}

#imgpeque
{
    width: 200px;
    height: 200px;

}
table 
{
    
    text-align: center;
    background-color: salmon;
    color: rgb(247, 245, 248);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100px;
    width: 100%;
}

a {
    color: rgb(247, 241, 244);
  }

  p {
    border: 4px solid rgb(238, 155, 213);
    border-radius: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12;
    text-align: justify;
  }